<div class="header">
  <h1>DreamWeaver</h1>
  <h3>Softer than an angel's bosom</h3>
</div>

<div class="flex one three-1000 center">
  <% @products.each do |product| %>
  <article class="card">
    <%= image_tag product.image_url %>
    <footer>
      <h3><%= product.name %></h3>
      <p><%= product.description %></p>
      <strong><p>$<%= product.price %></p></strong>
      <%= link_to "Buy", root_path, class: "button" %>
      <select>
        <option>Select an quantity</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </footer>
  </article>
  <% end %>
</div>

<p>Your session is:
  <%= session[:cart_id] %></p>
