<article class="card">
  <% if product.image_url.empty? %>
  <div class="custompic">
    <label class="dropimage">
      <input title="Drop image or click me" type="file">
    </label>
  </div>
<%  else %>
  <%= image_tag product.image_url %>
  <% end %>
  <footer>
    <h3><%= product.name %></h3>
    <p><%= product.description %></p>
    <%= form_for CartProduct.new, remote: true do |f| %>
    <strong><p><%= number_to_currency product.price %></p></strong>
    <div class="input-group">
      <%= f.number_field :qty, value: 1, class: "form-control", min: 1 %>
      <div class="input-group-btn">
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.submit "Add to Cart", class: "btn btn-primary" %>
      </div>
    </div>
  </footer>
</article>
<% end %>
